<div class="container">
  <div class="row">
      <div class="info-box">
        <h2 class="center">About Us.</h2>
        <br>
        <p>
          Seamful is a project application developed by Sokolov Vladislav
        </p>


      </div>
  </div>
  <div class="empty-fill">
  </div>
</div>
