<div class="container">
  <div class="row">
      <div class="info-box">
        <h2 class="center">About Us.</h2>
        <br>
        <p>
          Seamful is a project application developed by Kristina Tong,
          Madeleine Tabing, Arielle Ramirez, and Forrest Benton. Principally,
          this application is a demonstration of the Ruby on Rails experience
          and knowledge that we, Flatiron School students, have acquired up until
          the release of this app.
        </p>


      </div>
  </div>
  <div class="empty-fill">
  </div>
</div>
