<h1>Seamful Analytics</h1>
#current users
User.num_current_users

#most active user
Order.most_active_user (returns @user)

#most reviews by user
Review.most_reviews_by_user (returns @user)

#newest user
User.newest (returns @user)

#most popular restaurants / most ordered
Order.most_ordered

#highest avg rated restaurant
Restaurant.highest_avg_rating

#lowest avg rated restaurant
Restaurant.lowest_avg_rating

#most popular dishes
Menuorder.most_popular_dish

#least popular dishes
Menuorder.least_popular_dish
