<div class="container">
  <div class="row">
      <div class="info-box">
        <h2 class="center">Contact Us.</h2>
        <br>
        <p>
          For questions about your order, call 212-867-5309. For all other inqueries,
          email help@seamful.com, or call 212-867-5310. Thank you for choosing Seamful!
        </p>


      </div>
  </div>
  <div class="empty-fill">
  </div>
</div>
