<div class="home">
  <div class="flex-container">
      <div>
        <h3 style="margin: 40vh 0 0 0; color: white; font-family:'Pacifico', cursive; text-shadow: -1px 0 grey, -1px grey, 1px grey; font-size: 50px"> Welcome</h3>
      </div>
  </div>

  <div class="flex-container two" style="margin: -2vh 0 0 0;">
    <div>
    <% if session[:user_id] == nil %>
      <%=link_to "Become A Member", new_user_path, class: "btn btn-success"%>
    <% end %>
    <% if current_user %>
    You are logged in
    <% end %>
    </div>
    <div>
      <% if session[:user_id] == nil %>
        <%= link_to "Existing Customer", login_path, class: "btn btn-info" %>
      <% else %>
        <%= link_to "Existing Customer", guide_path, class: "btn btn-info" %>
      <% end %>
    </div>
</div>
</div>

<div class="grad empty-fill">
</div>
