<!-- <div class="home">
  <div class="full-hero hero-home">
    <h3> Welcome </h3>
    <div class="home-options">
      <ul>
        <li class="btn btn-success">
          Become a Member
        </li>
        <li class="btn btn-info">
          Existing User
        </li>
      </ul>
  </div>

  </div>
</div> -->


<div class="home">
  <div class="flex-container">
      <div>
        <h3 style="margin: 40vh 0 0 0; color: white; font-family:'Pacifico', cursive; text-shadow: -1px 0 grey, -1px grey, 1px grey; font-size: 50px"> Welcome</h3>
      </div>
  </div>

  <div class="flex-container two" style="margin: -2vh 0 0 0;">
    <div class="btn btn-success">
      Become A Member
    </div>

    <div class="btn btn-info">
      Existing Customer
    </div>
</div>
</div>

<div class="grad empty-fill">
</div>
