<div class="home">
  <div class="full-hero hero-home">
    <h3> Welcome </h3>
    <div class="home-options">
      <ul>
        <li class="btn btn-success">
          Become a Member
        </li>
        <li class="btn btn-info">
          Existing User
        </li>
      </ul>
  </div>

  </div>
</div>
