
<div class="login">
<div class="flex-container">
<h1 style="color: white; font-family:'Pacifico', cursive; text-shadow: -1px 0 grey, -1px grey, 1px grey; font-size: 50px">Login</h1>
</div>
<div class="flex-container login1 gradi" style="heigher: 500px">

<%= form_tag login_path do %><p>
   <p><%= email_field_tag :email,"",placeholder: "Email" %><br><p>
       <%= password_field_tag(:password, "", placeholder: "Password") %>
   <p> <%= submit_tag "Login", class: "btn btn-info" %><p>
<% end %>
 </div>
</div>
</div>
