
<div id="cart">

  <h1>Your Cart</h1>

  <div class="container">
    <% @food_items.each do |item| %>
      <p><strong><%= item.food_name %></strong></p>
      <p class="price-right">$<%= item.price %>
    <% end %>

    <hr>

    <%= button_to "Submit Order", orders_path %>

  </div>

</div>
