<div class="user">
<h1 style="margin: 0; color: white; font-family:'Pacifico', cursive; text-shadow: -1px 0 grey, -1px grey, 1px grey; font-size: 50px"> <%= @user.fullname %>'s Reviews </h1>
<% @reviews.each do |review| %>
<br><strong><%=link_to review.restaurant.name, review_path(review) %> </strong>
<br>Rating: <%= review.rating %>
<% end %>
</div>
