<div class="restaurant_background">
<h1 style="color:white; padding: 15px">  Seamful Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li class="list-group-item"><%= link_to restaurant.name, restaurant_path(restaurant), class:'link-to-text-color' %></li>
  <% end %>
</ul>
<br>
<br>
</div>
