<h1>Reviews for <%= @restaurant.name %></h1>
<div class="restaurant_background">
<div class=amazing-reviews>
  <% @reviews.each do |review| %>
  <blockquote>
    <header>
      <span data-rating=5>
        <% review.rating.times do |rating| %>⭐️<% end %>
      </span>
      <span>, <%= review.created_at.strftime("%B %d %Y") %></span>
      <span>By <em><%= review.user.fullname %></em></span>
    </header>
    <p><%= review.content %></p>
  </blockquote>
  <% end %>
</div>
</div>
