/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Pacifico');

#logo {
  font-family: 'Pacifico', cursive;
  color: rgb(244,136,110);
  font-size: 2em;
}


.body-text {
  padding-left: 20px;
}

.navbar {
  border-bottom: 5px solid rgb(215,248,212);
}

.flex-container{
  display: flex;
  justify-content: center;
}

.flex-container > div{
  width:200px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}

.home{
  background-image: url("Banner_Home.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size:cover;
  background-size: cover;
  position:relative;
  height: 75vh;


}
.grad {
  height: 60%;
  width: auto;
  margin-bottom: 5px;
  padding-bottom: 5px;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
  font-size: 3vw;
}


// .nav-color {
//   background-color: rgba(153,46,13,0.7);
// }
//
// .full-hero {
//   background-color: #c7dbfc;
//   background-size: cover;
//   box-sizing: border-box;
//   height: 70vh;
//   width: auto;
//   position: relative;
//   margin-bottom: 10%;
//   padding: 2px;
//
//   h3 {
//     color: white;
//     font-family: 'Pacifico', cursive;
//     color: white;
//     text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
//     font-size: 50px;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//   }
// }
// .hero-home {
//   background-image: url("Banner_Home.jpg");
//   background-position: center top;
//   max-width: 100%;
// }
//
// .home-options {
//   position: fixed;
//   left: 50%;
//   top: 50%;
//   padding-top: 60px;
//   transform: translate(-50%, -50%);
// }

span.nav-pad {
  padding-left: 7px;
  padding-right: 7px;
}

.footer {
    margin-top: 50px;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(245,245,245);
}

.footer-info {
  list-style: none;
  text-decoration: none;
  li {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    a {
      text-decoration: none;
    }
  }
}

.info-box {
  height: auto;
  width: auto;
  background-color: rgb(228,228,228);
  margin-top: 40px;
  padding-top: 30px;
  border-radius: 15px;

  h2 {
    text-align: center;
  }
  p {
    padding-left: 12%;
    width: 90%;
    padding-bottom: 5%;
  }
}

.unavailable {
  font-size: 0.5em;
}

.column-in-center{
    float: none;
    margin: 0 auto;
}

.empty-fill {
  height: 3em;
  width: auto;
}

.food-border {
  border: 1px solid rgb(230,141,116);
  padding: 5px;
  margin: 5px;
  box-shadow: 10px 10px 5px grey;
  margin: 10px 10px;
  border-radius: 8px;
  h6 {
    display: inline;
  }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.description {
  font-family: Courier;
  clear: right;
}

.price {
  font-size: 1.5em;
  float: right;
  display: inline;
}


.cuisine-select {
    display: grid;
    grid-gap: 18px;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
}
.cuisine {
  display: flex;
  img {
    width: 200px;
    height: 200px;
  }
  img:hover {
    webkit-filter: blur(2px);
    filter: blur(2px);
  }
}
.guide {
    font-family: 'Pacifico', cursive;
    color: #94c5d1;
    font-size: 2em;
    text-align: center;
    font-size: 5
  }

  .list-group-item {
    width: 50%;
  }

  .restaurant_background{
    background-image: url("restaurants_background.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 500px;
  }




  // <!-- Login In Page ---->




  .login h1{
  margin: 155px 0 0 0;
  }

  .login1{
  margin: 20px;
  border-radius: 2px;
  }

  .login{
  height: 80vh;
  width: auto;
  margin-bottom: 5px;
  padding-bottom: 5px;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  // <!--- Create Account -->
  .account1 div{
  margin: 0 0 10px 0;
  }


  .account1{
  overflow: auto;
  height: 60vh;
  margin: 20px 0 0 0 ;
  border-radius: 2px;
  position: relative;
  }

  .account2 {
    position: absolute;
  }

  .account h1{
  margin: 40px 0 0 0 ;
  overflow: auto;
  }

  .account{
  height: 80vh;
  width: auto;
  margin-bottom: 5px;
  padding-bottom: 5px;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  //users info page
  .info p{
   font-size: 24px;
  }

  .link-to-text-color{
   color: rgb(244,136,110);
  }

  // user page




  .user h1{
  margin: 155px 0 0 0;
  }

  .info{
  margin: 20px 0 0 0;
  border-radius: 2px;
  }

  .user{
  height: 100vh;
  width: auto;
  margin-bottom: 5px;
  padding-bottom: 5px;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .user p {
   color: white;
  }

  .link{
   font-size: 3px;
  }

  .button1{
   margin: 0 10px 50px 10px;
   top: 15%;
  }

  //review page
  .create-reviews-page{
  height: 80vh;
  width: auto;
  margin-bottom: 5px;
  padding-bottom: 5px;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .box{
    width:100%;
    height: 100px;
    font-size: 20px;
  }
  label{
    color:white;
    font-weight: bold;
  }
hr{
     border: .5px solid white;
  }
  .notice{
  }

.review {
  width: 50%;
  padding: 5px;
  margin: 5px;
  box-shadow: 10px 10px 5px grey;
  margin: 10px 10px;
  border-radius: 8px;
  background-color: rgba(233,233,233,0.7);
  h6 {
    display: inline;
  }
}

.order{
       border: 1px solid #dadada;
       margin: 0 27% 0 27%;
  }
  * {
    box-sizing: border-box;
}
.row {
  margin: 0 0 0 20%;
}
.row2{
  margin: 0 0 0 20%;
}
.column {
    float: left;
    width: 60%;
    padding: 2%;
}
.column div{
  text-align: left;
  padding: 5px;
  font-family: 'Montserrat';
  text-transform:uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}
.column2{
text-align: right;
padding: 2%;
}
.column2 div{
  padding: 5px;
  font-family: 'Montserrat';
  text-transform:uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}
.row2{
    margin: 0 0 0 0;
}
.column3 {
    float: left;
    width: 60%;
    padding: 2%;
}
.column3 div{
  padding: 5px;
  font-family: 'Montserrat';
  text-transform:uppercase;
  font-size: 18px;
  margin: 0 0 0 73%;
  color:#777;
  letter-spacing: 3px;
}
.column4{
text-align: right;
padding: 2%;
width:  68%;
}
.column4 div{
  padding: 5px;
  font-family: 'Montserrat';
  text-transform:uppercase;
  font-size: 18px;
  letter-spacing: 3px;
}

.amazing-reviews {
  font-size: 12pt;
}
.amazing-reviews blockquote {
  font-family: Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  padding: 0;
  background: white;
  margin: 30px 0 0 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 15px 15px 10px 15px;
  position: relative;
  box-shadow: rgba(0,0,0,.025) 0 3px 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
.amazing-reviews blockquote:before {
  content: '';
  display: block;
  border: 20px solid transparent;
  border-top-color: #ccc;
  position: absolute;
  top: 100%;
  left: 20px;
  z-index: 250;
  background: transparent;
  height: 0;
  opacity: 1;
}
.amazing-reviews blockquote:nth-of-type(even):before {
  left: auto;
  right: 20px;
}
.amazing-reviews blockquote:after {
  content: '';
  display: block;
  border: 19px solid transparent;
  border-top-color: white;
  position: absolute;
  top: 100%;
  left: 21px;
  z-index: 500;
}
.amazing-reviews blockquote:nth-of-type(even):after {
  left: auto;
  right: 21px;
}
.amazing-reviews blockquote:last-of-type {
  margin-bottom: 45px;
}
.amazing-reviews blockquote header span i {
  color: white;
  text-shadow: #aaa 1px 0 0, #aaa 0 1px 0, #aaa -1px 0 0, #aaa 0 -1px 0;
}
.amazing-reviews blockquote header span[data-rating="1"] i:nth-child(-n+1),
.amazing-reviews blockquote header span[data-rating="2"] i:nth-child(-n+2),
.amazing-reviews blockquote header span[data-rating="3"] i:nth-child(-n+3),
.amazing-reviews blockquote header span[data-rating="4"] i:nth-child(-n+4),
.amazing-reviews blockquote header span[data-rating="5"] i:nth-child(-n+5) {
  color: #f0c96a;
  text-shadow: #c08036 1px 0 0, #c08036 0 1px 0, #c08036 -1px 0 0, #c08036 0 -1px 0;
}
.amazing-reviews blockquote strong {
  color: black;
  display: inline;
}
.amazing-reviews strong + span {
  margin-left: -3px;
}
.amazing-reviews blockquote strong + span + span {
  display: block;
  margin: 5px 0;
}
.amazing-reviews blockquote span em {
  font-style: normal;
  font-weight: bold;
  color: #155096;
  text-decoration: underline;
}
.amazing-reviews blockquote span:last-of-type {
  color: #e47d21;
  font-size: 10pt;
  font-weight: bold;
  display: block;
}
.amazing-reviews blockquote p {
  font-size: 12pt;
  font-style: normal;
  margin: 5px 0 0 0;
  color: black;
}
.amazing-reviews h2:last-of-type {
  background: #eee;
  text-align: center;
  font-weight: 400;
  padding: 15px;
  margin: 0;
  border: 1px solid #ccc;
  position: relative;
}
.amazing-reviews h2 q,
.amazing-reviews h2 strong {
  font-weight: 600;
}
@media (min-width: 400px) {
  .amazing-reviews h2:last-of-type {
    font-size: 24pt;
  }
}
@media (min-width: 700px) {
  .amazing-reviews blockquote {
    width: 75%;
    margin: 30px 15px 0 15px;
  }
  .amazing-reviews blockquote:nth-of-type(even) {
    margin-left: calc(25% - 15px);
  }
  .amazing-reviews h2:last-of-type {
    font-size: 28pt;
  }
}
@media (min-width: 700px) {
  .amazing-reviews .quote-container {
    width: 100%;
    padding: 0 75px;
  }
}
