/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Pacifico');

#logo {
  font-family: 'Pacifico', cursive;
  color: rgb(244,136,110);
  font-size: 2em;
}

.navbar {
  border-bottom: 5px solid rgb(215,248,212);
}


.home {
  height: 60%;
  width: auto;
  margin-bottom: 5px;
  padding-bottom: 5px;
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.nav-color {
  background-color: rgba(153,46,13,0.7);
}

.full-hero {
  background-color: #c7dbfc;
  background-size: cover;
  box-sizing: border-box;
  height: 70vh;
  width: auto;
  position: relative;
  margin-bottom: 10%;
  padding: 2px;

  h3 {
    color: white;
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.hero-home {
  background-image: url("Banner_Home.jpg");
  background-position: center top;
  max-width: 100%;
}

.home-options {
  position: fixed;
  left: 50%;
  top: 50%;
  padding-top: 60px;
  transform: translate(-50%, -50%);
}

span.nav-pad {
  padding-left: 7px;
  padding-right: 7px;
}

.footer {
  height: 90px;
  margin-top: 5px;
  background-color: rgb(245,245,245);
  border-top: 1px solid black;
}

.footer-info {
  list-style: none;
  text-decoration: none;
  li {
    float: left;
    padding-left: 20px;
    padding-top: 30px;
    a {
      text-decoration: none;
    }
  }
}

.info-box {
  height: auto;
  width: auto;
  background-color: rgb(228,228,228);
  margin-top: 40px;
  padding-top: 30px;
  border-radius: 15px;

  h2 {
    text-align: center;
  }
  p {
    padding-left: 12%;
    width: 90%;
    padding-bottom: 5%;
  }
}

.column-in-center{
    float: none;
    margin: 0 auto;
}

.empty-fill {
  height: 30em;
  width: auto;
}
