<div class="create-reviews-page">
<div class="flex-container box">
    <h3 style=" margin: 40px 0 40px 0; color: white; font-family:'Pacifico', cursive; text-shadow: -1px 0 grey, -1px grey, 1px grey; font-size: 50px">Write a New Review</h3>

</div>
<hr>
  <div class="flex-container box">
      <%= render partial: 'form' %>
  </div>
</div>
