<nav class="navbar navbar-fixed-top navbar-inverse">
  <a id="logo" class="navbar-brand" href="/">Seamful</a>
    <ul class="nav navbar-nav nabar-right">
      <li class="nav-item">
        <% if logged_in? %>
          <a class="nav-link btn btn-info" href="/logout" data-method="delete"><span class="nav-pad">Signout</span></a>
        <% else %>
          <a class="nav-link btn btn-info" href="/login"><span class="nav-pad">Sign-in</span></a>
        <% end %>
      </li>
    </ul>
</nav>
