<nav class="navbar navbar-fixed-top navbar-inverse">
  <a id="logo" class="navbar-brand" href="/">Seamful</a>
    <ul class="nav navbar-nav nabar-right">
      <li class="nav-item">
        <a class="nav-link btn btn-info" href="#"><span class="nav-pad">Sign-in</span></a>
      </li>
    </ul>
</nav>
