<nav class="navbar navbar-fixed-top navbar-inverse">
  <a id="logo" class="navbar-brand" href="/">Seamful</a>

  <% if logged_in? %>
      <div class="dropdown">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="/users/<%= session[:user_id] %>">Account</a>
      <% if current_user.admin? %>
      <a class="dropdown-item" href="/admin/user"">Settings</a>
      <% end %>
      <a class="dropdown-item" href="/guide">Start an Order</a>
      <a class="dropdown-item" href="/reviews/new">Write a Review</a>
      <a class="dropdown-item" href="/cart">Cart</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/logout" data-method="delete">Logout</a>
    </div>
  <% else %>
    <a class="nav-link btn btn-info" href="/login"><span class="nav-pad">Sign-in</span></a>
  <% end %>
</div>

</nav>
